/* +++++++++++++++++++++++++++++++++++++++++++
        Design and Development by Ali Hasan
        Contact: 01723629080
        SOFTxONE.COM
  +++++++++++++++++++++++++++++++++++++++  */
/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
  body .container {
    max-width: 1200px;
    width: 100%;
  }
}



:root {
  --background-color: #fff;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ec0606;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;

  --white: #fff;
  --black: rgb(25, 25, 25);
  --dark: #0000009a;
  --gray: #22222227;
  --border: #3e8da8;
  --icon: #c72027;
  --bg-color: #1c1c52;
  --text-color: rgb(53, 53, 53);
  --bg-form-color: #f5dbde94;
  --bg-fcq-color: #f5dbde94;

  --background-color: #ffffff; 
  --default-color: #212529; 
  --heading-color: #1c1c52; 
  --accent-color: #e84545; 
  --surface-color: #ffffff; 
  --contrast-color: #ffffff;


  --background: rgba(10, 87, 87, 0.081);
  --white: #fff;
  --black: #000;
  --dark: #0000009a;
  --gray: #22222227;
  --primary: #0245bc;
  --heading: #37a001;
  --sub-heading: #000000b9;
  --button: #4154f1;
  --box-shadow:-6px -6px 10px 0px #e9f4fc, 4px 3px 15px 0px rgba(157, 193, 229, 0.842);
}


body{
  background-color: var(--background);
}


.transparent-background {
  --background-color: rgba(255, 255, 255, 0);
  --surface-color: rgba(255, 255, 255, 0.1);
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # header start
  --------------------------------------------------------------*/
#header .nav{
    background: var(--white);
    color: var(--black);
    border-bottom: 5px solid var(--border);
}
#header .nav_bar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#header .nav_bar .logo{
    width: 15%;
    height: 100%;
    font-size: 25px;
}
#header .nav_bar .logo img{
    width: 100%;
}
#header .nav_bar .menu{
    width: 85%;
    height: 100%;
    padding: 0px 20px;
}
#header .nav_bar .menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}
#header .nav_bar .menu ul li{
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
#header .nav_bar .menu ul li a{
        padding: 20px 10px !important;
}
#header .nav_bar .menu ul li:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
}
#header .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--black);
    transition: all 0.3s ease;
}
#header .nav_bar .menu ul li a:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li:hover .arrow{
    transform: rotate(180deg);
}
#header .nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
}
#header .nav_bar .menu_icon i:hover{
    color: var(--dark);
}
#header .nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0 !important;
    cursor: pointer;
    flex-direction: column;
    width: max-content;
    white-space: nowrap;
    z-index: 1000;
}
#header .nav_bar .menu ul li .sub-menu-service li a{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
#header .nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}
#header .nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--black);
}
#header .nav_bar .menu ul li .sub-menu-service li:hover{
    background-color: var(--background) !important;
}
#header .nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    transform: translateX(-50%);
    background: var(--white);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    padding: 0;
    width: 800px;
    z-index: 1000;
}
#header .nav_bar .menu ul li:hover .megamenu {
    display: flex;
}
#header .nav_bar .menu ul li .megamenu .menu-list{
    padding-left: 5px;
    flex-wrap: wrap;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list{
    padding: 0px 0px !important;
    margin: 0px 10px !important;
    width: calc(33.33% - 20px) !important;
    height: auto;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list a{
    padding: 10px 10px !important;
    margin: 0px 0px !important;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list:hover{
    background-color: var(--background);
    border-radius: 8px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .img-icon img{
    width: 25px;
    padding-top: 3px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_content{
    padding-left: 8px;
    flex-direction: column;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_heading{
    font-size: 16px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .sub_menu_desc{
    font-size: 13px;
    color: var(--dark);
}
@media only screen and (max-width: 992px) {
    #header .nav_bar .menu ul li .megamenu {
            padding-right: 100px;
        }
    #header .nav_bar .menu .about {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    #header .nav_bar .menu .product {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    #header .logo a{
        font-size: 20px;
    }
    #header .nav_bar .menu_icon i {
        padding: 0px;
    }
    #header .nav_bar .menu {
        padding: 0px;   
    }
    #header .menu .home {
        display: none;
    }
}
@media only screen and (max-width: 470px) {
    #header .menu .home {
        display: none;
    }
    #header button{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    #header .menu .service , .hires{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/*--------------------------------------------------------------
  # side bar start
  --------------------------------------------------------------*/

.menu-container {
  background-color: var(--white);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
}
.menu-container .menu-heading {
  background-color: var(--black);
}
.menu-container .menu-title {
  color: var(--heading);
  padding: 20px 20px;
  margin-bottom: .0rem;
  font-weight: 900;
  font-size: 24px;
}
.menu-container .menu-list {
  height: 82vh;
  padding-right: 10px;
}
.menu-container .menu-list .menu-sub-heading {
  padding: 12px 20px;
  margin-bottom: unset !important;
  font-weight: 600;
}
.menu-container .menu-list .menu-bottom {
  border-bottom: 2px solid var(--gray) !important;
}
.menu-container .menu-list li {
  list-style: none;
  font-size: 14px;
}
.menu-container .menu-list a {
  padding: 8px 20px;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
}
.menu-container .menu-list a:hover {
  background-color: var(--gray);
  color: var(--black);
}
.menu-container button i:hover {
  color: var(--warning) !important;
}

/*--------------------------------------------------------------
  # Footer start
  --------------------------------------------------------------*/


































  


/*--------------------------------------------------------------
  # Footer start
  --------------------------------------------------------------*/
#footer .footer {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
}

#footer .footer .logo img{
    margin-top: -10px;
    width: 40%;
    padding-bottom: 25px;
}

#footer .footer p {
    text-align: justify;
}

#footer .footer .widget-heading {
    font-size: 18px;
    color: var(--black);
    padding-bottom: 20px;
}

#footer .footer ul {
    list-style: none;
    padding-left: 0px;
}

#footer .footer .widget-link  li{
    padding: 5px 0px !important;
}
#footer .footer .widget-content li {
    padding: 5px 0px !important;
}
#footer .footer .widget-link  li a{
    text-decoration: none;
    color: var(--black);
}

.footer form {
    max-width: 350px;
    margin: 15px auto;
    position: relative;
}

#footer .footer .subscribe {
    width: 100%;
    height: 55px;
    background: var(--white);
    border-radius: 100px;
    padding: 0 30px;
    border: none;
}

#footer .subscribe-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 14px;
    top: 14px;
    line-height: 14px;
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    border-radius: 100px;
    background-image: linear-gradient(135deg, #16f036, #7cf016ad);
}

#footer .gateway {
    width: 12%;
}

#footer .payment_gateway {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--white);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 768px) {
    #footer .container {
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 576px) {
    #footer .footer_two {
        width: 50% !important;
        padding-left: 50px !important;
    }

    #footer .footer_tre {
        width: 50% !important;
        padding-left: 50px !important;
    }

}