/* +++++++++++++++++++++++++++++++++++++++++++
        Design and Development by Ali Hasan
        Contact: 01723629080
        softqry.com
  +++++++++++++++++++++++++++++++++++++++  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1400px) {
    body .container {
        max-width: 1200px !important;
        width: 100%;
    }
}

:root {
    --background-color: rgba(10, 87, 87, 0.081);

    --default-color: #ffffff;
    --surface-color: #ffffff;
    --contrast-color: #1c1c52;

    --white-color: #fff;
    --black-color: #000;
    --heading-color: rgb(25, 25, 25);
    --hover-color: #c72027;
    --bg-hover-color: #22222227;
    --text-color: #0000009a;
    --border-color: #3e8da8;
    --info-color: #37a001;
    --danger-color: #c72027;

    --box-shadow: -6px -6px 10px 0px #e9f4fc,
        4px 3px 15px 0px rgba(157, 193, 229, 0.842);
}

body {
    background-color: var(--background-color);
}

.transparent-background {
    --background-color: rgba(255, 255, 255, 0);
    --surface-color: rgba(255, 255, 255, 0.1);
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # animition fade
  --------------------------------------------------------------*/
.fade-element {
    opacity: 0;
    position: relative;
    transition: opacity 1.5s, top 1.5s, left 1.5s;
}

.fade-left {
    left: -30px;
}

.fade-right {
    left: 30px;
}

.fade-down {
    top: 30px;
}

.fade-up {
    top: -30px;
}

.word-fade-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.1s, transform 1.5s;
    display: inline-block;
}

.word-fade-top {
    opacity: 1;
    transform: translateY(0);
}

/*--------------------------------------------------------------
  # Global css start
  --------------------------------------------------------------*/
.section-title span {
    font-size: 17px;
    font-weight: 300;
    color: var(--danger-color);
    letter-spacing: 1px;
    font-family: "Montserrat";
}

.section-heading h2 {
    padding: 5px 0px;
    font-weight: 500;
    color: var(--heading-color);
    letter-spacing: 1.5px;
    font-size: 36px;
    line-height: 2.9rem;
    font-family: "Montserrat";
}
.section-heading p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 60px;
    font-family: "Roboto", "Open Sans";
}

.section-title span:before,
.section-title span:after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--danger-color);
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 15px;
    margin-left: 15px;
}

/*--------------------------------------------------------------
  # header start
  --------------------------------------------------------------*/
#header .nav {
    background: var(--white-color);
    color: var(--black-color);
    border-bottom: 5px solid var(--border-color);
}
#header .nav_bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#header .nav_bar .logo {
    width: 15%;
    height: 100%;
    font-size: 25px;
}
#header .nav_bar .logo img {
    width: 100%;
}
#header .nav_bar .menu {
    width: 85%;
    height: 100%;
    padding: 0px 20px;
}
#header .nav_bar .menu ul {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-bottom: 0px;
}
#header .nav_bar .menu ul li {
    padding: 20px 10px;
    height: 100%;
    cursor: pointer;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

#header .nav_bar .menu ul li a {
    padding: 20px 10px !important;
}
#header .nav_bar .menu ul li:hover {
    color: var(--hover-color);
}
#header .nav_bar .menu ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
}
#header .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: var(--black-color);
    transition: all 0.3s ease;
}
#header .nav_bar .menu ul li a:hover {
    color: var(--hover-color);
}
#header .nav_bar .menu ul li:hover .arrow {
    transform: rotate(180deg);
}
#header .nav_bar .menu_icon i {
    line-height: 50px;
    font-size: 35px;
    color: var(--black-color);
    cursor: pointer;
}
#header .nav_bar .menu_icon i:hover {
    color: var(--hover-color);
}
#header .nav_bar .menu ul li .sub-menu-service {
    position: absolute;
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white-color);
    border-radius: 0 0 4px 4px;
    display: none;
    padding: 0 !important;
    cursor: pointer;
    flex-direction: column;
    width: max-content;
    white-space: nowrap;
    z-index: 1000;
}
#header .nav_bar .menu ul li .sub-menu-service li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
#header .nav_bar .menu ul li:hover .sub-menu-service {
    display: flex;
}
#header .nav_bar .menu ul li .sub-menu-service li {
    line-height: 2px;
    border-bottom: 0.2px dashed var(--border-color);
}
#header .nav_bar .menu ul li .sub-menu-service li:hover {
    background-color: var(--contrast-color) !important;
}
#header .nav_bar .menu ul li .megamenu {
    position: absolute;
    top: 63px;
    transform: translateX(-50%);
    background: var(--white-color);
    border-radius: 0 0 4px 4px;
    display: none;
    cursor: pointer;
    padding: 0;
    width: 800px;
    z-index: 1000;
}
#header .nav_bar .menu ul li:hover .megamenu {
    display: flex;
}
#header .nav_bar .menu ul li .megamenu .menu-list {
    padding-left: 5px;
    flex-wrap: wrap;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list {
    padding: 0px 0px !important;
    margin: 0px 10px !important;
    width: calc(33.33% - 20px) !important;
    height: auto;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list a {
    padding: 10px 10px !important;
    margin: 0px 0px !important;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list:hover {
    background-color: var(--bg-hover-color);
    border-radius: 8px;
}
#header .nav_bar .menu ul li .megamenu .menu-list .sub_menu_list .img-icon img {
    width: 25px;
    padding-top: 3px;
}
#header
    .nav_bar
    .menu
    ul
    li
    .megamenu
    .menu-list
    .sub_menu_list
    .sub_menu_content {
    padding-left: 8px;
    flex-direction: column;
}
#header
    .nav_bar
    .menu
    ul
    li
    .megamenu
    .menu-list
    .sub_menu_list
    .sub_menu_heading {
    font-size: 16px;
}
#header
    .nav_bar
    .menu
    ul
    li
    .megamenu
    .menu-list
    .sub_menu_list
    .sub_menu_desc {
    font-size: 13px;
    color: var(--text-color);
}
@media only screen and (max-width: 992px) {
    #header .nav_bar .menu ul li .megamenu {
        padding-right: 100px;
    }
    #header .nav_bar .menu .about {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    #header .nav_bar .menu .product {
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    #header .logo a {
        font-size: 20px;
    }
    #header .nav_bar .menu_icon i {
        padding: 0px;
    }
    #header .nav_bar .menu {
        padding: 0px;
    }
    #header .menu .home {
        display: none;
    }
}
@media only screen and (max-width: 470px) {
    #header .menu .home {
        display: none;
    }
    #header button {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    #header .menu .service,
    .hires {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/*--------------------------------------------------------------
  # side bar start
  --------------------------------------------------------------*/

.menu-container {
    background-color: var(--white-color);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
}
.menu-container .menu-heading {
    background-color: var(--black-color);
}
.menu-container .menu-title {
    color: var(--info-color);
    padding: 20px 20px;
    margin-bottom: 0rem;
    font-weight: 900;
    font-size: 24px;
}
.menu-container .menu-list {
    height: 82vh;
    padding-right: 10px;
}
.menu-container .menu-list .menu-sub-heading {
    padding: 12px 20px;
    margin-bottom: unset !important;
    font-weight: 600;
}
.menu-container .menu-list .menu-bottom {
    border-bottom: 1px solid var(--contrast-color) !important;
}
.menu-container .menu-list li {
    list-style: none;
    font-size: 14px;
}
.menu-container .menu-list a {
    padding: 8px 20px;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    color: var(--heading-color);
    cursor: pointer;
}
.menu-container .menu-list a:hover {
    background-color: var(--contrast-color);
    color: var(--hover-color);
}
.menu-container button i:hover {
    color: var(--danger-color) !important;
}

/*--------------------------------------------------------------
  # service start
  --------------------------------------------------------------*/
.banner-fade-element {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.banner-fade-down {
    transform: translateY(-20px);
    transition: transform 1.5s ease-in-out;
}

.banner-fade-up {
    transform: translateY(20px);
    transition: transform 1.5s ease-in-out;
}

.banner-fade-left {
    transform: translateX(-20px);
    transition: transform 1.5s ease-in-out;
}

.banner-fade-right {
    transform: translateX(20px);
    transition: transform 1.5s ease-in-out;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.carousel-img {
    animation: zoomIn 10s ease-in-out infinite alternate;
}

.carousel-caption {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center !important;
    text-align: unset !important;
    background-color: rgba(0, 0, 0, 0.5);
}

#banner .banner-content {
    width: 80%;
}
#banner .banner-desc {
    margin-left: 30px;
}

#banner .banner-content p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Montserrat";
}

#banner .banner-content p::before {
    content: "";
    width: 70px;
    height: 3px;
    background: var(--danger-color);
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 15px;
}

#banner .banner-content h1 {
    font-size: 60px;
    font-weight: 500;
    font-family: "Montserrat";
}

#banner .banner-content .touch-apply button {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--danger-color);
    border: none;
    padding: 18px 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s;
    z-index: 1;
    font-family: "Montserrat";
}

.touch-apply button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--contrast-color);
    transition: left 0.4s;
    z-index: -1;
}

.touch-apply button:hover::before {
    left: 0;
}

.apply-button button i {
    position: relative;
    z-index: 1;
}

.touch-apply button:hover {
    color: white;
}

@media only screen and (max-width: 1200px) {
    #banner .banner-content {
        width: 80%;
        padding: 0px 20px;
    }

    #banner .banner-content p {
        font-size: 16px;
    }

    #banner .banner-content h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 992px) {
    #banner .banner-content {
        width: 100%;
    }

    #banner .banner-content p {
        font-size: 14px;
    }

    #banner .banner-content h1 {
        font-size: 40px;
    }

    #banner .banner-content .touch-apply button {
        margin-top: 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    #banner .banner-content h1 {
        font-size: 30px;
    }

    #banner .banner-content .touch-apply button {
        margin-top: 30px;
        padding: 15px 25px;
    }
}

@media only screen and (max-width: 576px) {
    #banner .banner-content p {
        font-size: 12px;
    }

    #banner .banner-content p::before {
        width: 40px;
    }

    #banner .banner-content h1 {
        font-size: 30px;
    }

    #banner .banner-content .touch-apply button {
        margin-top: 30px;
    }

    #banner .banner-desc {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 425px) {
    #banner .banner-content p {
        font-size: 12px;
    }
    #banner .banner-content h1 {
        font-size: 22px;
        letter-spacing: 1px;
    }

    #banner .banner-content .touch-apply button {
        margin-top: 10px;
        padding: 10px 20px;
    }
}

/*--------------------------------------------------------------
  # service start
  --------------------------------------------------------------*/

#serivce {
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.flip-box {
    perspective: 10000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 350px;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    transform: rotateY(180deg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.flip-box:hover .flip-box-back {
    opacity: 1;
}

.service-box {
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.4s;
}

.flip-box:hover .service-box {
    background-color: rgba(0, 0, 0, 0.555);
    color: var(--white-color);
}

.service-box i {
    color: var(--white-color);
    padding: 20px;
    border-radius: 50px;
    font-size: 50px;
    margin-bottom: 20px;
    background-color: var(--danger-color);
}

.service-box h5 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--contrast-color);
    font-family: "Montserrat";
}

.service-text-font {
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color);
    font-family: "Roboto", "Open Sans";
}
.service-text-back {
    font-size: 17px;
    font-weight: 300;
    color: var(--white-color);
    font-family: "Roboto", "Open Sans";
}

.service-box-back {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.service-box-back i {
    color: var(--danger-color);
    padding: 15px;
    border-radius: 50px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--white-color);
}

.service-box-back h5 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
}
@media only screen and (max-width: 992px) {
    #serivce {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*--------------------------------------------------------------
# features Section
--------------------------------------------------------------*/
#features {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
#features .icon-box {
    display: flex;
}

#features .icon-box h4 {
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0 0 10px 0;
    color: var(--contrast-color);
    font-family: "Montserrat";
}

#features .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: var(--info-color);
    margin-right: 15px;
}

#features .icon-box p {
    font-size: 15px;
    color: var(--text-color);
}

@media only screen and (max-width: 1200px) {
    #features .feature_img img {
        display: none;
    }

    #workprocess .process_content .process_step {
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
    #features {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
#stats {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--contrast-color);
}
#stats .stats-item {
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#stats .stats-item i {
    color: var(--accent-color);
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
}

#stats .stats-item span {
    color: var(--heading-color);
    font-size: 36px;
    display: block;
    font-weight: 600;
}

#stats .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--contrast-color-font);
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    #stats {
        padding-top: 40px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*--------------------------------------------------------------
  # portfolio start
  --------------------------------------------------------------*/
#portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
#portfolio .tap {
    background-color: #cbddef77;
    padding-left: 0px;
}

#portfolio .tap .btn {
    border: none !important;
}

#portfolio .tap li.active {
    box-shadow: -6px -6px 10px 0px #f5f9fc,
        4px 3px 15px 0px rgba(127, 163, 199, 0.3);
    background: linear-gradient(103deg, #e3edf7, #ffffff);
}

#portfolio .product-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
}

#portfolio .card:hover .product-btn {
    opacity: 1;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: linear-gradient(103deg, #2a2a2c98, #2c2b2bd2);
}

#portfolio .product-btn a {
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    width: 120px;
    border-radius: 15px;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
}
#portfolio .product-btn .button {
    background: linear-gradient(135deg, #16f037da, #7cf0167e);
}

#portfolio .p_heading .p_name {
    font-size: 16px;
    font-weight: 400;
}

#portfolio .p_heading .p_cate {
    font-size: 12px;
}

#portfolio .p_btn {
    gap: 8px;
}

#portfolio .p_img {
    border-bottom: 5px solid var(--border-color);
}

#portfolio .p_comp a {
    padding: 0px 15px;
    text-decoration: none;
    color: var(--contrast-color);
    font-size: 16px;
    font-weight: 500;
}

#portfolio .p_comp a:hover {
    color: var(--contrast-color);
}
@media only screen and (max-width: 768px) {
    #portfolio .tap li {
        width: 49%;
    }
}

@media only screen and (max-width: 992px) {
    #portfolio {
        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*--------------------------------------------------------------
  # award start
  --------------------------------------------------------------*/
#award {
    padding-top: 20px;
    padding-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
}

#award .award-title {
    width: 60%;
}

#award .card {
    background-color: var(--white-color);
    color: var(--heading-color);
    border-radius: unset;
    padding: 20px;
    border: unset !important;
}

#award .card .award-img {
    margin: 20px auto;
    height: 100px;
}

#award .card .award-img img {
    margin: 20px auto;
}

.owl-carousel {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-prev,
.owl-next {
    font-size: 30px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.owl-prev {
    left: 0 !important;
}

.owl-prev span {
    background-color: var(--danger-color) !important;
    color: var(--white-color) !important;
    border-radius: 50%;
    padding: 2px 13px !important;
}

.owl-next {
    right: 0 !important;
}

.owl-next span {
    background-color: var(--danger-color) !important;
    color: var(--white-color) !important;
    border-radius: 50%;
    padding: 2px 13px !important;
}

@media only screen and (max-width: 992px) {
    #award {
        padding-top: 20px;
        padding-bottom: 120px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

#contact .info-box {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    padding: 30px;
    border-radius: 5px;
}

#contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: var(--contrast-color);
}

#contact .info-box h3 {
    font-size: 20px;
    color: var(--contrast-color);
    font-weight: 500;
    margin: 20px 0 10px 0;
}

#contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

#contact .php-email-form {
    background: var(--white-color);
    padding: 30px;
    height: 100%;
}

#contact .php-email-form .sent-message {
    display: none;
    color: var(--white-color);
    background: var(--contrast-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
    border-color: var(--contrast-color);
}

#contact .php-email-form input[type="text"],
#contact .php-email-form input[type="email"] {
    padding: 10px 15px;
}

#contact .php-email-form textarea {
    padding: 12px 15px;
}

#contact .php-email-form button[type="submit"] {
    background: var(--button);
    border: 0;
    padding: 10px 30px;
    color: var(--white-color);
    transition: 0.4s;
    border-radius: 4px;
}

#contact .php-email-form button[type="submit"]:hover {
    background: #5969f3;
}

#contact .info-box i {
    padding-top: 12px !important;
}

/*--------------------------------------------------------------
  # Footer  card start
  --------------------------------------------------------------*/
#footer-card .contact_card {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
    border-radius: 15px !important;
    padding: 30px;
}

#footer-card .contact_card {
    font-size: 16px;
    font-weight: 400;
}

#footer-card .contact_card img {
    width: 60px;
}

#footer-card .contact_content a {
    padding: 10px 10px;
    text-decoration: none;
    color: var(--heading-color);
}

@media only screen and (max-width: 490px) {
    .contact_card {
        padding: 30px 20px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 50px !important;
    }
}

@media only screen and (max-width: 425px) {
    .contact_card {
        padding: 30px 10px !important;
    }

    .contact_card span {
        padding-right: 5px !important;
    }

    .contact_card a img {
        width: 45px !important;
    }
}

/*--------------------------------------------------------------
  # Footer start
  --------------------------------------------------------------*/
#footer .footer {
    background-image: linear-gradient(135deg, #e8f7f6d2, #f5e9e9d7);
}

#footer .footer .logo img {
    margin-top: -10px;
    width: 40%;
    padding-bottom: 25px;
}

#footer .footer p {
    text-align: justify;
}

#footer .footer .widget-heading {
    font-size: 18px;
    color: var(--heading-color);
    padding-bottom: 20px;
}

#footer .footer ul {
    list-style: none;
    padding-left: 0px;
}

#footer .footer .widget-link li {
    padding: 5px 0px !important;
}
#footer .footer .widget-content li {
    padding: 5px 0px !important;
}
#footer .footer .widget-link li a {
    text-decoration: none;
    color: var(--heading-color);
}

.footer form {
    max-width: 350px;
    margin: 15px auto;
    position: relative;
}

#footer .footer .subscribe {
    width: 100%;
    height: 55px;
    background: var(--white-color);
    border-radius: 100px;
    padding: 0 30px;
    border: none;
}

#footer .subscribe-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 14px;
    top: 14px;
    line-height: 14px;
    font-size: 14px;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 100px;
    background-image: linear-gradient(135deg, #16f036, #7cf016ad);
}

#footer .gateway {
    width: 12%;
}

#footer .payment_gateway {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--white-color);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 768px) {
    #footer .container {
        padding: 0px 30px;
    }
}

@media only screen and (max-width: 576px) {
    #footer .footer_two {
        width: 50% !important;
        padding-left: 50px !important;
    }

    #footer .footer_tre {
        width: 50% !important;
        padding-left: 50px !important;
    }
}
